section.info{
    width: 1280px;
    height: auto;
    margin: 0px auto;
    min-width:768px;
    overflow: hidden;
}
p.info_title{
    font: bold 40px/58px "Noto Sans KR";
    text-align: center;
    margin-top: 100px;
    position: relative;
    top:0;
    left: 0;
}
p.info_text{
    width: 100%;
    font: normal 16px/32px "Noto Sans KR";
    text-align: center;
    margin-top: 30px;
    margin-bottom: 100px;
}
p.info_text span{
    font-weight: bold;
}
div.info_box{
    width: 100%;
    height: 320px;
    background: #F9F9F9;
    box-sizing: border-box;
    position: relative;
    top:0;
    left: 0;
}
p.user_icon{
    font: normal 30px/30px "Noto Sans KR";
    position: absolute;
    top: 40px;
    left: 40px;
}
p.user_text{
    width: 400px;
    height: 86px;
    font: normal 30px/43px "Noto Sans KR";
    position: absolute;
    top: 100px;
    left: 40px;
}
p.user_text span{
    color: #586B62;
    font-weight: bold;
}
button.user_btn{
    width: 100px;
    height: 26px;
    font: normal 16px/26px "Noto Sans KR";
    text-align: center;
    border: solid 1px #D9D9D9;
    box-sizing: border-box;
    position: absolute;
    bottom: 40px;
    left: 40px;
}
ul.info_list{
    width: 430px;
    height: 146px;
    display: grid;
    grid-template-columns: repeat(4,1fr);
    grid-template-rows: repeat(1,1fr);
    grid-gap: 10px;
    position: absolute;
    right: 40px;
    top: 50%;
    margin-top: -73px;
}
ul.info_list li{
    width: 100px;
    height: 130px;
}
ul.info_list li img{
    width: 100%;
    height: 100px;
    padding: 16px;
    object-fit: contain;
    box-sizing: border-box;
    border: solid 1px #D9D9D9;
}
ul.info_list li p{
    text-align: center;
    font: normal 16px/20px "Noto Sans KR";
}

@media screen and (max-width: 1280px){
    section.info{
        width: 100%;
    }
}
@media screen and (max-width: 980px){
    p.user_text{
        font: normal 28px/37px "Noto Sans KR";
    }
    ul.info_list{
        width: 210px;
        height: 280px;
        grid-template-columns: repeat(2,1fr);
        grid-template-rows: repeat(2,1fr);
        position: absolute;
        right: 40px;
        top: 50%;
        margin-top: -140px;
    }
}